<p>home works!</p>


<!-- <app-ws-html></app-ws-html> -->

<!-- <app-ws-inline></app-ws-inline> -->


<!-- <app-person [firstName]='"Israel"' [lastName]='"Buiatti"'></app-person> -->
<!-- <app-person [firstName]='"Workshop"' [lastName]='"com Bolim"'></app-person> -->

<!-- <p appFill>teste</p> -->

<!-- <app-ciclo [valor]="valor" *ngIf="mostrarComponente"></app-ciclo>
<button (click)="incValor()">Incrementar</button>
<button (click)="criarComponente()">Criar Componente</button>
<button (click)="deletarComponente()">Deletar Componente</button> -->

<!-- <app-pai></app-pai> -->




